* {
    border: 1px solid red;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    height: 200vh;
    justify-content: space-between;
}

.personal-information,
.projects,
.contact-form {
    flex: 1;
}

.header-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.navigation-links {
    display: flex;
    padding-left: 0;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    font-weight: 1000;
}

.navigation-links > #three {
    padding: 8px 16px;
    background-color: #3882F6;
    border-radius: 8px;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    min-height: 170px;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 100px;
}

.upper-header > .header-logo {
    height: 50px;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
}

.bottom-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 32px 0px;
}

.bottom-header > .welcome-heading {
    border-bottom: 2px solid white;
    margin-bottom: 32px;
}

.bottom-header > .welcome-message {
    width: 70%;
    text-align: center;
    font-style: italic;
}

.footer {
    /* Appearance */
    background-color: #1F2937;
    color: #E5E7EB;
    font-weight: 600;

    /*Display & Alignments*/
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-basis: 80px;
    justify-content: center;
    align-items: center;
}