/* * {
    border: 1px solid red;
} */

/*Layout Setup*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    height: 200vh;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

.personal-information,
.projects {
    flex: 1;
}

/*Header Styling*/
.header-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.navigation-links {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    font-weight: 1000;
}

.navigation-links > #contact-link {
    padding: 8px 16px;
    background-color: #3882F6;
    border-radius: 8px;
}

a {
    font-size: 18px;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 100px;
}

.upper-header > .header-logo {
    height: 50px;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
}

.bottom-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 32px 0px;
}

.bottom-header > .welcome-heading {
    border-bottom: 2px solid white;
    margin-bottom: 32px;
}

.bottom-header > .welcome-message {
    width: 70%;
    text-align: center;
    font-style: italic;
}

/*Footer Styling*/
.footer {
    /* Appearance */
    background-color: #1F2937;
    color: #E5E7EB;
    font-weight: 600;

    /*Display & Alignments*/
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-basis: 80px;
    justify-content: center;
    align-items: center;
}

/*Personal Information Styling*/
.personal-information {
    display: flex;
    flex-direction: column;
}

.personal-information-heading {
    display: flex;
    min-height: 120px;
    font-size: 36px;
    font-style: italic;
    font-weight: 1000;
    color: #1F2937;
    justify-content: center;
    align-items: center;
}

.personal-information-body {
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    column-gap: 48px;
    padding: 0px 100px;
}

.personal-information-body > img {
    border-radius: 32px;
    box-shadow: 4px 14px 23px 11px rgba(14,12,12,0.20);
}

.personal-information-body > .cards-container {
    padding: 0;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.cards-container > * {
    /* border: 3px solid #3882F6; */
    padding: 16px;
    /* box-shadow: 15px 16px 32px rgba(0, 0, 0, 0.06); */
    background-color: rgb(241, 250, 250);
    box-shadow: 4px 14px 23px 11px rgba(14,12,12,0.20);
    border-radius: 50px 50px 5px;
    width: 420px;
    min-height: 240px;
}

.info-card > .header-secondary-text {
    color: #1F2937;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.info-card > .card-title {
    color: #3882F6;
    border-bottom: 3px solid #3882F6;
    font-size: 24px;
    font-style: italic;
    font-weight: 800;
}

.info-card > .card-content {
    text-align: center;
}

#read-more-link {
    align-self: flex-end;
    font-style: italic;
    font-weight: 600;
    color: #5e5f61;
}